.progress
	width 100%
	height 50px
	.progress-bar
		font-size: 37px;
		line-height: 43px;
.keynumbers
	text-align center

.Authorize-button
	float right
.left
	float left
	text-align left
.right
	float right
	text-align right
	
.text-center
	text-align center

*
	font-size 30px